<%- include('../partials/header.ejs') %>
    <div class="container-edit">
        <h1>Updating Data</h1>
        <form action="" class="form-edit">
            <div class="inline-edit">
                <label for="title-edit">Title</label>
                <input class="input-edit" type="text" name="title-edit" id="title-edit">
            </div>

            <div class="inline-edit">
                <label for="deadline-edit">Deadline</label>
                <input class="input-edit" type="date" name="deadline-edit" id="deadline-edit">
            </div>

            <div class="inline-complete-edit">
                <label for="complete">Complete</label>
                <input class="input-complete-edit" type="checkbox" name="complete-edit" id="complete-edit">
            </div>

            <div class="save-cancel-edit">
                <div class="button-save">
                    <button type="button" class="btn btn-primary"><i class="fa-solid fa-floppy-disk"></i></button>
                </div>
                <div>
                    <a href="/users" class="btn btn-warning"><i class="fa-solid fa-rotate-left"></i></a>
                </div>
            </div>
        </form>
    </div>
    <%- include('../partials/footer.ejs') %>